# $Id: $
# script copied from OpenOCD Sources
# tested with revision 717
# -> svn checkout -r 717 svn://svn.berlios.de/openocd/trunk

# JTAG adapter available at various Olimex resellers

# ftdi interface

#interface
interface ft2232
ft2232_device_desc "Olimex OpenOCD JTAG A"
ft2232_layout "olimex-jtag"
ft2232_vid_pid 0x15BA 0x0003
