# script for stm32 for OpenOCD 0.1.0
# not tested yet! added for your convenience.
# -> svn checkout -r 1417 svn://svn.berlios.de/openocd/trunk

interface parport
parport_port 0xc8b8
parport_cable wiggler
jtag_speed 0
