# $Id: in-circuit-openocd.cfg 50 2008-10-03 21:51:17Z tk $
# script inspired from http://elua.berlios.de/tut_openocd.html
# tested with revision 0.1.0

# JTAG adapter available at
# http://shop.embedded-projects.net/product_info.php?info=p75_OpenOCD-USB-Adapter.html

# ftdi interface
interface ft2232
ft2232_device_desc "Dual RS232 A"
ft2232_layout jtagkey

#how fast should we talk to the jtag interface 
jtag_khz 1000
