{
    ApplicationDescription = "No description avaliable!";
    ApplicationName = midibox_seq_v4;
    ApplicationRelease = 1.0;
    Copyright = "Copyright (C) 200x";
    CopyrightDescription = "Released under ...";
    FullVersionID = 1.0;
    NSExecutable = midibox_seq_v4;
    NSPrincipalClass = NSApplication;
    NSRole = Application;
}