# $Id: STM32F10x.cfg 50 2008-10-03 21:51:17Z tk $
# script for stm32 for OpenOCD 0.1.0
# tested with revision 1417
# This is for the STM32-Primer 1

# My test board has a "Rev1" tap id.
set BSTAPID 0x16410041

# removed as it does not see the environment var, will copy/paste instead
#source [find $MIOS32_PATH/etc/openocd/target/STM32_010.cfg]


# script for stm32 for OpenOCD 0.1.0
# tested with revision 1417

if { [info exists CHIPNAME] } {	
   set  _CHIPNAME $CHIPNAME    
} else {	 
   set  _CHIPNAME stm32
}

if { [info exists ENDIAN] } {	
   set  _ENDIAN $ENDIAN    
} else {	 
   set  _ENDIAN little
}

# jtag speed
jtag_khz 375

jtag_nsrst_delay 100
jtag_ntrst_delay 100

#use combined on interfaces or targets that can't set TRST/SRST separately
reset_config trst_and_srst

#jtag scan chain
if { [info exists CPUTAPID ] } {
   set _CPUTAPID $CPUTAPID
} else {
  # See STM Document RM0008
  # Section 26.6.3
   set _CPUTAPID 0x3ba00477
}
jtag newtap $_CHIPNAME cpu -irlen 4 -ircapture 0x1 -irmask 0xf -expected-id $_CPUTAPID

if { [info exists BSTAPID ] } {
   set _BSTAPID $BSTAPID
} else {
  # See STM Document RM0008
  # Section 26.6.2
  # Medium Density RevA
  set _BSTAPID 0x06410041
  # Rev B and Rev Z
  set _BSTAPID 0x16410041
  # High Density Devices, Rev A
  set _BSTAPID 0x06414041
}   
jtag newtap $_CHIPNAME bs  -irlen 5 -ircapture 0x1 -irmask 0x1 -expected-id $_BSTAPID

set _TARGETNAME [format "%s.cpu" $_CHIPNAME]
target create $_TARGETNAME cortex_m3 -endian $_ENDIAN -chain-position $_TARGETNAME

$_TARGETNAME configure -work-area-virt 0 -work-area-phys 0x20000000 -work-area-size 16384 -work-area-backup 0

flash bank stm32x 0 0 0 0 0

# For more information about the configuration files, take a look at:
# openocd.texi


